app-now-playing {
  position: fixed;
  transform: translateY(100dvh);
  z-index: 4;
  transition: 200ms linear all;

  &.show {
    transform: translateY(0);
  }
}

.now-playing-mini {
  z-index: 3;
  background: tomato;
  position: fixed;
  height: 70px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.main-container {
  display: flex;
  flex-direction: row;

  .menu {
    z-index: 2;
    background: blue;
    position: sticky;
    height: calc(100dvh - 70px);
    width: 70px;
  }

  .main {
    z-index: 1;
  }

  @media (width < 26rem) {
    flex-direction: column;

    .menu {
      height: 70px;
      width: 100dvw;
    }
  }
}
